body {
    padding-top: 15px;
    margin: 0 auto;
    width: 960px;
}

nav {
    height: 30px;
    text-align: center;
}

nav a {
    color: black;
    font-family: sans-serif;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: blue;
}

nav a:after {
    padding: 10px;
    color: black;
    content: '|';
}

nav a:last-child:after {
  content: '';
}

nav a.active {
    color: green;
}

nav .icon {
    background-image: url('/static/images/icon_bw.png');
    background-size: 44px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 44px;
    height: 24px;
}

nav .icon:hover {
    background-image: url('/static/images/icon_color.png');
    background-size: 44px 24px;
    background-repeat: no-repeat;
}

article {
    font-size: 1.1em;
    padding: 20px 25px;
}

a {
    text-decoration: none;
}

footer {
    border-top: black solid 1px;
    text-align: center;
    font-size: 80%;
    margin: 0 80px;
}

.clear {
    clear: both;
}
