{% extends "info_base.html" %}

{% block current_archief %}active{% endblock %}

{% block article %}

<a href="{% static '/static/docs_archief/20021113_OnsUtrecht_HetRedelijkAlternatief.pdf' %}" target="_blank">
    <img style="float: right; padding: 10px; width: 20%;"
         src="{% static '/static/images_archief/krant.png' %}"
         alt="Scan van het redelijk alternatief" />
</a>

{% filter markdown:'nofollow' %}

### Artikelen

- [Het Experimentele Flatleven, De Oud-Utrechter van april 2011.](
  {% static '/static/docs_archief/20110401_DeOud-Utrechter_HetExperimenteleFlatleven.pdf' %})
- [Een Gouden Wijk in Zwart-Wit, Dreefnieuws van 30 maart 2011.](
  {% static '/static/docs_archief/20110330_Dreefnieuws_50jaar_editie.pdf' %})
- [Het Redelijk Alternatief, Ons Utrecht van 13 november 2002.](
  {% static '/static/docs_archief/20021113_OnsUtrecht_HetRedelijkAlternatief.pdf' %})
- [De experimentele flats, BO-EX in 1996.](
  {% static '/static/docs_archief/19960101_BO-EX_DeExperimenteleFlats.pdf' %})
- [Een echte invulling van sociaal wonen, ... in 1994.](
  {% static '/static/docs_archief/1994_Sociaal-Wonen.pdf' %})
- [Schoonmaakactie rond park 'Experimentele Flats', ... in 24 april 1993.](
  {% static '/static/docs_archief/19930424_Schoonmaakactie.pdf' %})
- [Vele bewonerscontacten nu verleden tijd, Utrechts Nieuwsblad in 13 april 1991.](
  {% static '/static/docs_archief/19910413_UtrechtsNieuwsblad_VeleBewonerscontactenNuVerledenTijd.jpg' %})
- [10 jaar experimenteel wonen, Wij in november 1981.](
  {% static '/static/docs_archief/19810516_Wij_10JaarExperimenteelWonen.pdf' %})
- [De erfenis van ene Jansen, Biem Lap in november 1977.](
  {% static '/static/docs_archief/19771101_BiemLap_DeErfenisVanEneJansen.pdf' %})
- [Project 68-18: experimenteel wonen in Overvecht-Noord, ... na 1975.](
  {% static '/static/docs_archief/Project68-18.pdf' %})
- [Wonen met open deuren, Libelle in 1971.](
  {% static '/static/docs_archief/19710101_Libelle_WonenMetOpenDeuren.pdf' %})
- [Wonen in de experimentele flats, ....](
  {% static '/static/docs_archief/WoneninExperimenteleFlats.jpg' %})
- [Samen Experimenteren, ....](
  {% static '/static/docs_archief/SamenExperimenteren.pdf' %})


### Foto's

- [Materiaal over 'Experimentele Flats' in Het Utrechts Archief.](
  https://hetutrechtsarchief.nl/onderzoek/resultaten?trefwoord=experimentele+flats)


### Documenten bewonerscommissie

- [Stappenplan huur opzeggen](
  {% static '/static/docs_archief/flyer-hoezegikmijnhuurop.doc' %})

{% endfilter %}
{% endblock %}
