{% extends "info_base.html" %}

{% block current_archief %}active{% endblock %}

{% block article %}

<a href="{% static '/static/docs_archief/20021113_OnsUtrecht_HetRedelijkAlternatief.pdf' %}" target="_blank">
    <img style="float: right; padding: 10px; width: 20%;"
         src="{% static '/static/images_archief/krant.png' %}"
         alt="Scan van het redelijk alternatief" />
</a>

<h3>Krantenartikelen</h3>

<ul>
    <li>
        <a href="{% static '/static/docs_archief/20110401_DeOud-Utrechter_HetExperimenteleFlatleven.pdf' %}">
            Het Experimentele Flatleven</a>, De Oud-Utrechter van april 2011.
    </li>
    <li>
        <a href="{% static '/static/docs_archief/20110330_Dreefnieuws_50jaar_editie.pdf' %}">
            Een Gouden Wijk in Zwart-Wit</a>, Dreefnieuws van 30 maart 2011.
    </li>
    <li>
        <a href="{% static '/static/docs_archief/20021113_OnsUtrecht_HetRedelijkAlternatief.pdf' %}">
            Het Redelijk Alternatief</a>, Ons Utrecht van 13 november 2002.
    </li>
    <li>
        <a href="{% static '/static/docs_archief/19910413_UtrechtsNieuwsblad_VeleBewonerscontactenNuVerledenTijd.jpg' %}">
            Vele bewonerscontacten nu verleden tijd</a>, Utrechts Nieuwsblad in 13 april 1991.
    </li>
    <li>
        <a href="{% static '/static/docs_archief/19710101_CommuneflatinVogelvlucht.jpg' %}">
            Communeflat in vogelvlucht</a>, Libelle in 1971.
    </li>
</ul>

<h3>Foto's</h3>

<ul>
    <li>
        <a href="http://www.hetutrechtsarchief.nl/collectie/beeldmateriaal/zoeken/?q=experimentele+flats">
            Beeldmateriaal Experimentele Flats</a>, Het Utrechts Archief vanaf 1971.
    </li>
</ul>

{% endblock %}
