{% extends "over_base.html" %}

{% block current_bewonerscommissie %}active{% endblock %}

{% block article %}

<a href="{% static '/static/images_over/bewonerscommissie.jpg' %}" target="_blank">
    <img style="float: right; padding: 10px; border-radius: 20px; width: 45%;"
         src="{% static '/static/images_over/bewonerscommissie.jpg' %}"
         alt="Foto van de bewonerscommisie 2017">
</a>

<h3>Bewonerscommissie</h3>

<p>
    Ons complex heeft een <strong>bewonerscommissie</strong>, die de
    belangen van de huurders behartigt, contact heeft met Portaal en
    initiatief neemt tot het organiseren van activiteiten. Maar misschien 
    wel de belangrijkste taak, is het <strong>beheren van de inschrijflijst</strong>, 
    liefkozend nog wel de 'kaartenbak' genoemd, verwijzend naar het systeem van de 
    jaren '70.
    Als de commissie dit beheer niet op zich neemt, kan deze woonvorm 
    niet meer blijven bestaan: Portaal zou de woningen dan via woningnet
    vehuren. 
</p>

<p>    
    Daarom is het belangrijk, dat er actieve, betrokken bewoners zijn 
    die in de commissie willen of deze willen ondersteunen. Denk hieraan als je de 
    keuze maakt voor de Experimentele Flats.
</p>

{% endblock %}
