{% extends "over_base.html" %}

{% block current_bewonerscommissie %}active{% endblock %}

{% block article %}

<a href="{% static '/static/images_over/bewonerscommissie.jpg' %}" target="_blank">
    <img style="float: right; padding: 10px; border-radius: 20px; width: 45%;"
         src="{% static '/static/images_over/bewonerscommissie.jpg' %}"
         alt="Foto van de bewonerscommisie 2017">
</a>

{% filter markdown %}

### Bewonerscommissie

Ons complex heeft een **bewonerscommissie**, die de
belangen van de huurders behartigt, contact heeft met Portaal en
initiatief neemt tot het organiseren van activiteiten. Maar misschien
wel de belangrijkste taak, is het **beheren van de inschrijflijst**,
liefkozend nog wel de 'kaartenbak' genoemd, verwijzend naar het systeem van de
jaren '70. Als de commissie dit beheer niet op zich neemt, kan deze woonvorm
niet meer blijven bestaan: Portaal zou de woningen dan via woningnet
vehuren.

Daarom is het belangrijk, dat er actieve, betrokken bewoners zijn
die in de commissie willen of deze willen ondersteunen. Denk hieraan als je de
keuze maakt voor de Experimentele Flats.

{% endfilter %}

{% endblock %}
