{% extends "over_base.html" %}

{% block current_bijzonderwonen %}active{% endblock %}

{% block article %}

<h3>Wonen in de Experimentele Flats</h3>

<p>
    In het wooncomplex heerst een grote mate van betrokkenheid,
    waarvoor mensen bewust hebben gekozen. Het is geen woongroep, want
    ieder heeft een eigen woning, maar haast niemand leeft echt anoniem.
    De bewoners hebben daarom ook zeggenschap over de gemeenschappelijke 
    hal en mogen zelf kiezen wie er komt wonen. Daarnaast worden 
    er regelmatig samen activiteiten ondernomen, zoals de nieuwjaarsborrel
    en de jaarlijkse schoonmaak van het park rondom de flats.
<p>

<h3>Bewonerscommissie</h3>

<p>
    Ons complex heeft een <strong>bewonerscommissie</strong>, die de
    belangen van de huurders behartigt, contact heeft met Portaal en
    initiatief neemt tot het organiseren van activiteiten. Maar misschien 
    wel de belangrijkste taak, is het <strong>beheren van de inschrijflijst</strong>.
    Als de commissie dit beheer niet op zich neemt, kan deze woonvorm 
    niet meer blijven bestaan: Portaal gaat de woningen dan via woningnet
    vehuren. 
</p>

<p>    
    Daarom is het belangrijk, dat er actieve, betrokken bewoners zijn 
    die in de commissie willen of deze willen ondersteunen.
</p>

{% endblock %}
