{% extends "info_base.html" %}

{% block current_contact %}active{% endblock %}

{% block article %}


<a href="http://www.openstreetmap.org/#map=17/52.11997/5.10078" target="_blank">
    <img style="float: left; padding: 10px; border-radius: 20px; width: 20%;"
         src="{% static '/static/images_contact/kaart.png' %}" alt="OpenStreetMap Kaart" />
</a>

<p>
    De huurwoningen van de Experimentele Flats zijn te vinden aan de
    Cayennedreef, Pernambucodreef en São Paulodreef in Utrecht.
</p>

<p>
    Vragen, berichten, of inschrijfformulieren kunt u e-mailen naar
    <a style="white-space: nowrap;"
       href="mailto:info@experimentele-flats.nl">info@experimentele-flats.nl</a>
</p>
{% endblock %}
