{% extends "over_base.html" %}

{% block current_flats %}active{% endblock %}

{% block article %}

<a href="https://www.openstreetmap.org/#map=17/52.11997/5.10078" target="_blank" rel="noreferrer">
    <img style="float: right; padding: 10px; border-radius: 20px; width: 50%;"
         src="{% static '/static/images_over/kaart.png' %}"
         alt="OpenStreetMap kaart van locatie experimentele flats">
</a>

{% filter markdown %}

### De flats

Het wooncomplex ‘Experimentele Flats’ bestaat uit tien flats in
Overvecht-Noord, Utrecht. Vijf hiervan worden verhuurd door <a
href="https://www.portaal.nl/ik-zoek-een-woning/sociale-huurwoning/reageren/#q414aadc8"
target="_blank" rel="noreferrer">Portaal</a>
(met rood aangegeven op de kaart), de andere zijn koopwoningen. Van
de huurflats is er één hoogbouw flat met zeven woonlagen, en vier
laagbouw flats met vier woonlagen. De hoogbouw flat heeft een lift.


### Monumentenstatus Experimentele Flats

Sinds 2017 zijn de Experimentele Flats een gemeentelijk monument!
Een erkenning voor de bijzondere bouwstijl van de flats: de gemeenschappelijke
ruimtes en de flexibele indeling van de woningen door schuifwanden.
Wij zijn hier erg trots op.

{% endfilter %}

{% endblock %}
