{% extends "info_base.html" %}

{% block current_fotos %}active{% endblock %}

{% block article %}
<h2>Buiten</h2>

<img style="float: right; padding: 10px; border-radius: 20px; width: 45%;"
     src="{% static '/static/images_fotos/buiten/ADL_143778.jpg' %}" />
<img style="float: right; padding: 10px; border-radius: 20px; width: 45%;"
     src="{% static '/static/images_fotos/buiten/ARN_060977.jpg' %}" />
<img style="float: right; padding: 10px; border-radius: 20px; width: 45%;"
     src="{% static '/static/images_fotos/buiten/ARN_060981.jpg' %}" />
<img style="float: right; padding: 10px; border-radius: 20px; width: 90%;"
     src="{% static '/static/images_fotos/buiten/ADL_165833.jpg' %}" />

<span class="clear"></span>

<h2>Activiteiten</h2>

<img style="float: right; padding: 10px; border-radius: 20px; width: 45%;"
     src="{% static '/static/images_fotos/activiteiten/DSC_3183.JPG' %}" />
<img style="float: right; padding: 10px; border-radius: 20px; width: 45%;"
     src="{% static '/static/images_fotos/activiteiten/DSC_3184.JPG' %}" />
<img style="float: right; padding: 10px; border-radius: 20px; width: 45%;"
     src="{% static '/static/images_fotos/activiteiten/DSC_3187.JPG' %}" />

{% endblock %}
