{% extends "info_base.html" %}

{% block current_fotos %}active{% endblock %}

{% block article %}
<h2>Buiten</h2>

<div class="fotos">
    <img src="{% static '/static/images_fotos/buiten/ADL_143778.jpg' %}" alt="">
    <img src="{% static '/static/images_fotos/buiten/ARN_060977.jpg' %}" alt="">
    <img src="{% static '/static/images_fotos/buiten/ADL_166871.jpg' %}" alt="">
    <img class="fullwidth" src="{% static '/static/images_fotos/buiten/ADL_165833.jpg' %}" alt="">
</div>

<span class="clear"></span>

<h2>Gemeenschappelijke Hal</h2>

<div class="fotos">
    <img src="{% static '/static/images_fotos/gemeenschappelijk/ADL_166823.jpg' %}" alt="">
    <img src="{% static '/static/images_fotos/gemeenschappelijk/ADL_166824.jpg' %}" alt="">
    <img class="fullwidth" src="{% static '/static/images_fotos/gemeenschappelijk/ADL_166836.jpg' %}" alt="">
    <img src="{% static '/static/images_fotos/gemeenschappelijk/ADL_166838.jpg' %}" alt="">
    <img src="{% static '/static/images_fotos/gemeenschappelijk/ADL_166846.jpg' %}" alt="">
</div>

<span class="clear"></span>

<h2>Activiteiten</h2>

<div class="fotos">
    <img src="{% static '/static/images_fotos/activiteiten/DSC_3183.jpg' %}" alt="">
    <img src="{% static '/static/images_fotos/activiteiten/DSC_3184.jpg' %}" alt="">
    <img src="{% static '/static/images_fotos/activiteiten/DSC_3187.jpg' %}" alt="">
</div>

{% endblock %}
