{% extends "main_base.html" %}

{% block body %}
    <div id="flat">
        <h1 style="position: absolute; top: 10px; left: 80px;">Experimentele<br> Flats<br> Overvecht</h1>
        <img src="{% static '/static/images/flat_shape_960.png' %}"
             width="960" height="592" alt="Flat plattegrond" usemap="#flat"
             style="position: absolute; top: 80px; left: 50px;">
        <h1 style="position: absolute; top: 530px; left: 220px; color:white;">Archief</h1>
        <h1 style="position: absolute; top: 230px; left: 370px; color:white;">Over</h1>
        <h1 style="position: absolute; top: 310px; left: 580px; color:white;">Inschrijven</h1>
        <h1 style="position: absolute; top: 530px; left: 740px; color:white;">Contact</h1>
        <h1 style="position: absolute; top: 520px; left: 470px; color:white;">Foto's</h1>
        <map name="flat">
          <area shape="poly" coords="80,358, 251,359, 251,408, 360,407, 366,577, 80,574" href="archief.html" alt="Archief">
          <area shape="poly" coords="249,84, 482,85, 478,303, 249,309" href="over.html" alt="Over">
          <area shape="poly" coords="498,158, 717,157, 718,397, 498,390" href="inschrijven.html" alt="Inschrijven">
          <area shape="poly" coords="732,357, 876,358, 871,587, 603,587, 597,415 730,412" href="contact.html" alt="Contact">
          <area shape="poly" coords="368,316, 486,314, 488,412, 585,411, 583,586, 376,586" href="fotos.html" alt="Foto's">
        </map>
    </div>
{% endblock %}
