{% extends "info_base.html" %}

{% block current_inschrijven %}active{% endblock %}

{% block article %}

<h2>Hoe komt u in aanmerking voor een woning?</h2>

<h3>Ingeschreven staan bij Woningnet</h3>

<p>
    Om voor een woning in de Experimentele Flats in aanmerking te komen,
    moet u bij <a href="https://www.woningnetregioutrecht.nl" rel="noreferrer">
    WoningNet Utrecht</a> zijn ingeschreven als woningzoekende. Als u een
    woning krijgt, vervalt uw wachttijd bij WoningNet.
</p>

<h3>Voldoen aan inkomensgrens</h3>

<p>
    De woningen van de experimentele flats zijn sociale huurwoningen van Portaal.
    Voor de woningen gelden daarom
    <a href="https://www.portaal.nl/ik-zoek-een-woning/sociale-huurwoning/inkomensgrenzen/"
       rel="noreferrer">inkomensgrenzen</a>.
</p>

<h4>Inkomensgrenzen 2019</h4>

<p>
    Situatie 1 (gezamenlijke) inkomen ligt onder de huurtoeslaggrens:<br>
    Je kunt op alle experimentele woningen reageren. Portaal past de huur aan naar jouw situatie en je houdt recht op huurtoeslag.
    Zie hiervoor <a href="https://www.portaal.nl/download/839fd95e-1813-e911-80e3-00155d0c4ae9" rel="noreferrer">de website van Portaal</a>.
</p>

<p>
    Situatie 2 (gezamenlijke) inkomen ligt boven de huurtoeslaggrens maar onder de € 38.035:<br>
    Je kunt op alle experimentele woningen reageren. Huur van de appartementen wordt d.m.v. het puntensysteem
    vastgesteld per appartement afhankelijk van de staat van de woning en of er wel of geen tuin en lift aanwezig is.
</p>


<p>
    Situatie 3 (gezamenlijke) inkomen ligt tussen de € 38.035 en € 42.436:<br>
    Je kunt alleen reageren op de 4 kamer woningen omdat de kale huur hoger is dan € 651,03 per maand.
</p>

<p>
    Situatie 4 (gezamenlijke) inkomen is hoger dan € 42.436:<br>
    Je komt niet in aanmerking voor een appartement bij de experimentele flats. Ook intern door-verhuizen is niet mogelijk.
</p>

<h3>Inschrijven bij de Experimentele Flats</h3>

<p>
    Daarnaast moet het
    <a href="https://goo.gl/forms/64X7w4iExicQaNtP2" rel="noreferrer">
    Inschrijfformulier Experimentele Flats</a> ingevuld worden.
</p>

<h3>Controle</h3>

<p>
    Eenmaal per jaar controleert de bewonerscommissie de inschrijvingen.
    Dit gebeurt per e-mail vanuit het bovengenoemde e-mailadres. Er zal worden
    gevraagd of u wilt antwoorden als u nog steeds geïnteresseerd bent. Doet
    u dit niet, dan worden uw gegevens verwijderd. Let er dus op dat onze e-mails
    niet in de spam-box verdwijnen!
</p>

<h3>En dan?</h3>

<p>
    De wachtlijst met inschrijfformulieren wordt beheerd door de bewonerscommissie. De
    bewoners die in de commissie zitten, krijgen dus inzage in uw gegevens.
</p>

<p>
    Wanneer halbewoners een nieuwe buur gaan kiezen, krijgen
    zij een geanonimiseerde lijst te zien waar alleen leeftijd, beroep,
    geslacht en motivatie in staan. Als zij aan de hand van hun profielschets
    een selectie voor een kandidaat hebben gemaakt, krijgen zij de contactgegevens.
    De halbewoners nodigen u dus zelf uit voor een kennismaking, als ze u gekozen
    hebben.
</p>

<p>
    Als jullie het met elkaar kunnen vinden, wordt u bij Portaal voorgedragen
    als nieuwe huurder. Portaal controleert alle (inkomens)gegevens en wijst
    de woning definitief toe, als alles goed is. <strong>Let op</strong>: net als bij
    andere zelfstandige huurwoningen, vervalt uw inschrijving bij WoningNet.
</p>

<p>
    Zie ook het stappenplan van de <a href="{% url '/procedure.html' %}">Verhuisprocedure</a>.
</p>

{% endblock %}
