{% extends "info_base.html" %}

{% block current_inschrijven %}active{% endblock %}

{% block article %}

<h2>Hoe komt u in aanmerking voor een woning?</h2>

<h3>Ingeschreven staan bij Woningnet</h3>

<p>
    Om voor een woning in de Experimentele Flats in aanmerking te komen,
    moet u bij <a href="https://www.woningnetregioutrecht.nl" target="_blank" rel="noreferer">
    WoningNet Utrecht</a> zijn ingeschreven als woningzoekende. Als u een
    woning krijgt, vervalt uw wachttijd bij WoningNet.
</p>

<h3>Voldoen aan inkomensgrens</h3>

<p>
    Voor deze woningen geldt een inkomensgrens. Op de website van
    <a href="https://www.woningnetregioutrecht.nl/Help%20en%20uitleg/Reageren/Inkomensvoorwaarden"
       target="_blank" rel="noreferer">Woningnet</a> staat uitgelegd welke
    rekenhuur bij uw inkomen past. Op dit moment heeft Portaal voor de
    vierkamerwoningen de afwijkende maximale inkomensgrens van €38.000.
</p>

<h3>Inschrijven bij de Experimentele Flats</h3>

<p>
    Daarnaast moet het
    <a href="https://goo.gl/forms/64X7w4iExicQaNtP2" target="_blank" rel="noreferer">
    Inschrijfformulier Experimentele Flats</a> ingevuld worden.
</p>

<h3>Controle</h3>

<p>
    Eenmaal per jaar controleert de bewonerscommissie de inschrijvingen.
    Dit gebeurt per e-mail vanuit het bovengenoemde e-mailadres. Er zal worden
    gevraagd of u wilt antwoorden als u nog steeds geïnteresseerd bent. Doet
    u dit niet, dan worden uw gegevens verwijderd. Let er dus op dat onze e-mails
    niet in de spam-box verdwijnen!
</p>

<h3>En dan?</h3>

<p>
    De wachtlijst met inschrijfformulieren wordt beheerd door de bewonerscommissie. De
    bewoners die in de commissie zitten, krijgen dus inzage in uw gegevens.
</p>
<p>
    Wanneer halbewoners een nieuwe buur gaan kiezen, krijgen
    zij een geanonimiseerde lijst te zien waar alleen leeftijd, beroep,
    geslacht en motivatie in staan. Als zij aan de hand van hun profielschets
    een selectie voor een kandidaat hebben gemaakt, krijgen zij de contactgegevens.
    De halbewoners nodigen u dus zelf uit voor een kennismaking, als ze u gekozen
    hebben.
</p>
<p>
    Als jullie het met elkaar kunnen vinden, wordt u bij Portaal voorgedragen
    als nieuwe huurder. Portaal controleert alle (inkomens)gegevens en wijst
    de woning definitief toe, als alles goed is. <strong>Let op</strong>: net als bij
    andere zelfstandige huurwoningen, vervalt uw inschrijving bij WoningNet.
</p>
<p>
    Zie ook het stappenplan van de <a href="{% url '/procedure.html' %}">Verhuisprocedure</a>.
</p>

{% endblock %}
