{% extends "info_base.html" %}

{% block current_inschrijven %}active{% endblock %}

{% block article %}

<p>Hoe komt u in aanmerking voor een woning in de Experimentele Flats?</p>

<h3>Ingeschreven staan bij Woningnet</h3>

<p>
    Om voor een woning in de Experimentele Flats in aanmerking te komen,
    moet je bij <a href="http://www.woningnetregioutrecht.nl" target="_blank">
    WoningNet Utrecht</a> zijn ingeschreven als woningzoekende. Als je een
    woning krijgt, vervalt je wachttijd bij WoningNet.
</p>

<h3>Voldoen aan inkomensgrens</h3>

<p>
    Voor deze woningen geldt een
    inkomensgrens. Op de website van 
    <a href="http://www.woningnetregioutrecht.nl/Help%20en%20uitleg/Reageren/Inkomensvoorwaarden"
       target="_blank">Woningnet</a> staat uitgelegd welke
    rekenhuur bij jouw inkomen past. Op dit moment heeft Portaal voor de 
    vierkamerwoningen de afwijkende maximale inkomensgrens van €38.000.
</p>

<h3>Inschrijfformulier insturen</h3>

<p>
    Download het formulier, vul het in (liefst digitaal) en stuur het  naar
    <a class="mail">[enable JavaScript]</a>
    <br>
    Download hier het inschrijfformulier:
</p>
<ul>
    <li>als <a href="{% static '/static/docs_inschrijven/Inschrijfformulier_Experimentele_flats.doc' %}">Word document</a></li>
    <li>als <a href="{% static '/static/docs_inschrijven/Inschrijfformulier_Experimentele_flats.pdf' %}">PDF document</a></li>
</ul>

<h3>Controle</h3>

<p>
    Eenmaal per jaar controleert de bewonerscommissie de inschrijvingen. 
    Dit gebeurt per e-mail vanuit het bovengenoemde e-mailadres. Er zal worden 
    gevraagd of je wil antwoorden als je nog steeds geïnteresseerd bent. Doe
    je dit niet, dan worden je gegevens verwijderd. Let er dus op dat onze e-mails
    niet in je spam-box verdwijnen!
</p>

<h3>En dan?</h3>

<p>
    De wachtlijst met inschrijfformulieren wordt beheerd door de bewonerscommissie. De
    bewoners die in de commissie zitten, krijgen dus inzage in je gegevens. 
</p>
<p>    
    Wanneer halbewoners een nieuwe buur gaan kiezen, krijgen
    zij een geanonimiseerde lijst te zien waar alleen leeftijd, beroep,
    geslacht en motivatie in staan. Als zij aan de hand van hun profielschets 
    een selectie voor een kandidaat hebben gemaakt, krijgen zij de contactgegevens. 
    De halbewoners nodigen je dus zelf uit voor een kennismaking, als ze jou gekozen 
    hebben.
</p>
<p>
    Als jullie het met elkaar kunnen vinden, wordt je bij Portaal voorgedragen 
    als nieuwe huurder. Portaal controleert alle (inkomens)gegevens en wijst 
    de woning definitief toe, als alles goed is. <strong>Let op</strong>: net als bij 
    andere zelfstandige huurwoningen, vervalt je inschrijving bij woningnet.
</p>
<p>
    Zie ook het stappenplan van de <a href="{% url 'procedure.html' %}">Verhuisprocedure</a>.
</p>

{% endblock %}
