{% extends "over_base.html" %}

{% block current_nieuws %}active{% endblock %}

{% block article %}


<h3>Parkschoonmaakdag zaterdag 9 april 2016</h3>

<p>
    Het is weer zover: de tweede zaterdag van april houden we weer een opruimactie in 
    het park rondom de flats. Dit jaar is dat zaterdag 9 april. Vanaf 11:00 zal de kraam 
    met broodjes en drinken weer klaarstaan. Locatie wordt nog bekend gemaakt. Kom helpen!
    
</p>

<br>
<h3>Open dag in de Experimentele Flats</h3>

<p>
   21 mei 2016 doen wij mee met de landelijke open dag 
    van <a href="http://www.gemeenschappelijkwonen.nl">gemeenschappelijk wonen</a>. <br>
    Die middag is het mogelijk rond te kijken in de Experimentele Flats. Het programma 
    volgt nog.
    
</p>

{% endblock %}
