{% extends "over_base.html" %}

{% block current_nieuws %}active{% endblock %}

{% block article %}


<h3>Parkschoonmaakdag zaterdag 9 april 2016</h3>

<p>
    Het is weer zover: de tweede zaterdag van april houden we weer een opruimactie in 
    het park rondom de flats. Dit jaar is dat zaterdag 9 april. Vanaf 11:00 zal de kraam 
    met broodjes en drinken weer klaarstaan. Locatie wordt nog bekend gemaakt. Kom helpen!
    
</p>


<h3>Open dag in de Experimentele Flats</h3>

<p>
    Zaterdag 21 november 2015 is er een open dag in ons complex: 
    u kunt een rondleiding krijgen, woningen bezichtigen en 
    een praatje maken met bewoners.<br>
    <br>
    14:00u : verzamelen voor de rondleiding bij São Paulodreef 18<br>
    14:15u : start rondleiding <br>
    15:00u-16:00u : koffie/thee/lekkers op Cayennedreef 38 <br>
    
    Open dag gemist? 21 mei 2016 doen wij mee met de landelijke open dag 
    van <a href="http://www.gemeenschappelijkwonen.nl">gemeenschappelijk wonen</a>.
    
</p>

{% endblock %}
