{% extends "over_base.html" %}

{% block current_nieuws %}active{% endblock %}

{% block article %}


<h3>Open dag in de Experimentele Flats</h3>

<p>
   21 mei 2016 doen wij mee met de landelijke open dag 
    van <a href="http://www.gemeenschappelijkwonen.nl">gemeenschappelijk wonen</a>. <br>
    Die middag is het mogelijk rond te kijken in de Experimentele Flats. 
    U bent welkom tussen 14:00u en 16:00u en u kunt ons vinden op het plein 
    aan de Sao Paulodreef. Er zijn oud-Hollandse spelletjes, rondleidingen 
    en gesprekken met bewoners. Het wordt een gezellige middag waarop u
    ongedwongen kennis kunt maken met de Experimentele Flats!
    
</p>

{% endblock %}
