{% extends "info_base.html" %}

{% block current_over %}active{% endblock %}

{% block article %}

<a href="http://www.openstreetmap.org/#map=17/52.11997/5.10078" target="_blank">
    <img style="float: right; padding: 10px; border-radius: 20px; width: 50%;"
         src="{% static '/static/images_over/kaart.png' %}"
         alt="OpenStreetMap kaart van locatie experimentele flats">
</a>

<h3>De flats</h3>

<p>
    Het wooncomplex ‘Experimentele flats’ bestaat uit elf flats in
    Overvecht-Noord, Utrecht. Vijf hiervan worden verhuurd door <a
    href="http://www.portaal.nl/bijzonderutrecht.aspx" target="_blank">Portaal</a>
    (met rood aangegeven op de kaart), de andere zijn koopwoningen. Van
    de huurflats is er één hoogbouw flat met zeven woonlagen, en vier
    laagbouw flats met vier woonlagen. De hoogbouw flat heeft een lift.
</p>

<span class="clear"></span>


<h3>De woningen</h3>

<span style="float: left;">
    <a href="{% static '/static/images_over/plattegrond_3_kamerappartement.png' %}" target="_blank">
        <img style="display: inline-block; padding: 10px; height: 90px;"
             src="{% static '/static/images_over/plattegrond_3_kamerappartement.png' %}"
             alt="Plattegrond 3 kamers">
    </a>
    <a href="{% static '/static/images_over/plattegrond_4_kamerappartement.png' %}" target="_blank">
        <img style="display: inline-block; padding: 10px; height: 90px;"
             src="{% static '/static/images_over/plattegrond_4_kamerappartement.png' %}"
             alt="Plattegrond 4 kamers">
    </a>
</span>

<p>
    Per verdieping zijn er vier appartementen: twee driekamer- en twee
    vierkamer-woningen. Voor een driekamerwoning is de kale huur
    ongeveer €655, voor een vierkamerwoning ongeveer €699 (let op: voor 
    de vierkamerwoningen is geen huurtoeslag mogelijk). Elke woning
    kan door schuifwanden op verschillende manieren worden ingedeeld.
</p>

<span class="clear"></span>


<img style="float: right; padding: 10px; width: 35%;"
     src="{% static '/static/images_over/plattegrond.png' %}"
     alt="Plattegrond verdieping">

<h3>Gezamenlijke hal</h3>

<p>
    Op elke woonetage, met uitzondering van de begane grond, bevindt
    zich een grote gemeenschappelijke hal. Hier komen de voordeuren van
    de vier woningen op uit. De halbewoners bepalen zelf hoe deze gebruikt
    wordt en in welke mate er contact met de buren is. Over het algemeen
    geldt dat bewoners in de experimentele flats graag meer onderling
    contact hebben dan men gewend zou zijn in ‘normale’ flats.
</p>

<h3>Hoe komt u aan een woning?</h3>

<p>
    Als een bewoner gaat verhuizen, bepalen de buren op de hal wie de
    nieuwe bewoner mag worden. Dit doen zij aan de hand van een
    profielschets, waarmee zij een selectie maken uit de
    <a href="{% url '/inschrijven.html' %}">inschrijvingen</a>
    in de wachtlijst. Na een kennismakingsgesprek wordt bepaald, wie de
    nieuwe halbewoner wordt.
</p>

<h3>Wonen in de Experimentele Flats</h3>

<p>
    In het wooncomplex heerst een grotere mate van betrokkenheid,
    waarvoor mensen bewust hebben gekozen. Het is geen woongroep, want
    ieder heeft een eigen woning, maar haast niemand leeft echt anoniem.
    Om deze bijzondere woonvorm in stand te kunnen houden, hebben we
    een commissie die zich hiervoor inzet:
<p>

<p>
    Ons complex heeft een <strong>bewonerscommissie</strong>, die de
    belangen van de huurders behartigt, contact heeft met Portaal en
    initiatief neemt tot het organiseren van activiteiten. Enkele commissieleden vormen de
 <strong>kaartenbakcommissie</strong>, die de wachtlijst beheert. De naam stamt uit de jaren ‘70, toen de
    inschrijvingen nog letterlijk in een bak met kaarten bewaard werden.
    De leden van deze commissie zorgen ook voor de PR, zodat er nieuwe
    inschrijvingen komen, en voor het up-to-date houden van de
    wachtlijst.
</p>

<p>
    Bewoners worden niet verplicht actief te zijn, maar eenmaal per jaar
    wisselen enkele leden uit de commissies waarvoor dan vervangers
    nodig zijn. 
</p>

<p>
    Wellicht heeft u belangstelling gekregen voor deze ongewone
    woonvorm, waarin een stuk gemeenschappelijkheid met privacy kan
    worden gecombineerd. Hoe u zich kunt inschrijven, is te <a href="{% url '/inschrijven.html' %}">hier</a> te
    lezen.
</p>

{% endblock %}
