{% extends "over_base.html" %}

{% block article %}

{% filter markdown:'nofollow' %}

### Woonvorm

De Experimentele Flats staan in Utrecht Overvecht sinds 1971. Ze werden experimenteel
genoemd, omdat de indeling van de gebouwen en woningen voor die tijd nogal bijzonder
was. Een gemeenschappelijke hal als antwoord op de angst voor het anonieme flatleven.
De woningen zo gesitueerd dat deze echte privacy hebben: zelfs de balkons bieden geen
zicht op de buren. En de woningen kregen een flexibele indeling door grote schuifwanden.

We kunnen wel stellen dat het experiment geslaagd is: de Experimentele Flats worden
ervaren als een heel prettige plek om te wonen en de gemeenschappelijke ruimtes worden
nog altijd goed gebruikt. Lees via het menu hierboven meer over de woningen en het
wonen in de Experimentele Flats.

Mocht je enthousiast zijn geworden over deze woonvorm, kun je je
<a class="{% block current_flats %}{% endblock %}" href="{% url '/inschrijven.html' %}">
inschrijven</a> voor een huurwoning. Deze website geeft verder geen informatie
over de koopwoningen. Als je daar interesse in hebt, neem dan een kijkje op Funda.

{% endfilter %}

{% endblock %}
