
{% extends "over_base.html" %}

{% block current_procedure %}active{% endblock %}

{% block article %}

<h3>Verhuisprocedure</h3>

<p>
	Verhuizen in de Experimentele Flats gaat anders dan in andere woningen. 
	Het overzicht hieronder geeft het stappenplan voor de procedure weer. 
</p>

<ol>
	<li>De verhuizer geeft de opzegging door aan de halbewoners en bij Portaal</li>
	<li>De achterblijvende halbewoners vragen huurgegevens van de woning op via de bewonerscommissie</li>
	<li>De halbewoners halen de map met inschrijvingen op bij de kaartenbakhouder</li>
	<li>De halbewoners maken een selectie van kandidaten uit de kaartenbak en vragen de 
	contactgegevens op bij de bewonerscommissie</li>
	<li>De halbewoners maken een afspraak voor kennismaking met de kandidaat, tijdens die 
	afspraak kan de woning ook bezichtigd worden
	<li>De halbewoners laten aan de kandidaat weten of deze gekozen is of niet</li>
	<li>De halbewoners geven hun keuze voor de kandidaat door aan de bewonerscommissie</li>
	<li>De bewonerscommissie geeft de kandidaat door aan Portaal</li>
	<li>Portaal handelt de inkomenscheck en het huurcontract met de kandidaat verder af</li>
	<li>De kandidaat en de verhuizer maken onderling afspraken over spullen die ter 
	overname zijn</li>
</ol>


{% endblock %}
