
{% extends "over_base.html" %}

{% block current_procedure %}active{% endblock %}

{% block article %}

{% filter markdown:'nofollow' %}

### Verhuisprocedure

Verhuizen in de Experimentele Flats gaat anders dan in andere woningen.
Het overzicht hieronder geeft het stappenplan voor de procedure weer.

1. De verhuizer geeft de opzegging door aan de halbewoners en bij Portaal
2. De achterblijvende halbewoners vragen huurgegevens van de woning op via de bewonerscommissie
3. De halbewoners halen de map met inschrijvingen op bij de kaartenbakhouder
4. De halbewoners maken een selectie van kandidaten uit de kaartenbak en vragen de contactgegevens op bij de bewonerscommissie
5. De halbewoners maken een afspraak voor kennismaking met de kandidaat, tijdens die afspraak kan de woning ook bezichtigd worden
6. De halbewoners laten aan de kandidaat weten of deze gekozen is of niet
7. De halbewoners geven hun keuze voor de kandidaat door aan de bewonerscommissie
8. De bewonerscommissie geeft de kandidaat door aan Portaal
9. Portaal handelt de inkomenscheck en het huurcontract met de kandidaat verder af
10. De kandidaat en de verhuizer maken onderling afspraken over spullen die ter overname zijn

{% endfilter %}

{% endblock %}
