<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Experimentele Flats{% endblock %}</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="{% static '/static/images/favicon.ico' %}" />
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/static/css/vendor/normalize.css' %}" />
        <link rel="stylesheet" href="{% static '/static/css/vendor/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/vendor/font-museo.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/info.css' %}" />
        <style>
            {% block style %}
            {% endblock %}
        </style>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div id="topbar"></div>
        <nav>
            <a href="index.html"><span class="icon"></span></a>
            <a class="{% block current_over %}{% endblock %}" href="over.html">Over de Experimentele Flats</a>
            <a class="{% block current_inschrijven %}{% endblock %}" href="inschrijven.html">Inschrijven</a>
            <a class="{% block current_fotos %}{% endblock %}" href="fotos.html">Foto's</a>
            <a class="{% block current_archief %}{% endblock %}" href="archief.html">Archief</a>
            <a class="{% block current_contact %}{% endblock %}" href="contact.html">Contact</a>
        </nav>
        <article>
            {% block article %}
            {% endblock %}
        </article>
        <footer>
            <p>
                Contact: <a href="mailto:info@experimentele-flats.nl">info@experimentele-flats.nl</a>.
            </p>
        </footer>

        <script src="{% static '/static/js/vendor/jquery-1.10.2.js' %}"></script>
        <script src="{% static '/static/js/main.js' %}"></script>
        {% block scripts %}
        {% endblock %}
        <script>
            {% block script %}
            {% endblock %}
        </script>

        {% include 'statcounter.html' %}

    </body>


</html>
