<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Experimentele Flats{% endblock %}</title>
        <link rel="icon" type="image/vnd.microsoft.icon" href="{% static '/static/images/favicon.ico' %}" />
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static '/static/css/vendor/normalize.css' %}" />
        <link rel="stylesheet" href="{% static '/static/css/vendor/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}" />
        <style>
            {% block style %}
            {% endblock %}
        </style>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div id="wrapper">
            {% block body %}
            {% endblock %}
        </div><!-- /wrapper -->

        <script src="{% static '/static/js/vendor/jquery-1.10.2.js' %}"></script>
        <script src="{% static '/static/js/main.js' %}"></script>
        {% block scripts %}
        {% endblock %}
        <script>
            {% block script %}
            {% endblock %}
        </script>

        <!-- StatCounter Code -->
        <script type="text/javascript">
            var sc_project=10000943; 
            var sc_invisible=1; 
            var sc_security="41ffb73e"; 
            var scJsHost = (("https:" == document.location.protocol) ?
            "https://secure." : "http://www.");
            document.write("<sc"+"ript type='text/javascript' src='" +
            scJsHost+
            "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        <!-- /StatCounter Code -->

    </body>

</html>
